body{
  font-size: 18px;
}

.header {
  text-align: right;
  font-size: 40px;
  color: orange;
  padding: 30px 100px;
  border-bottom : 2px solid black ;
  border-top : 2px solid black ;
}

.gif_div {
  float: right;
  margin-top: 300px;
  margin-right: 100px;
  padding: 20px;
}

img{
  padding: 20px;
}

.listLinks{
  float: right;
  text-align: left;
  position: relative;
  top: 300px;
  right: 150px;
  font-size: 25px;
}

 .listLinks a{
  text-decoration: none;
}

.guest_div{
  position: relative; 
  top: 550px;
  left: 5px;
  text-decoration-line: underline;
}

.top_heading{
  text-align: center;
  font-size: 50px;
  color: orange;
}

.top_heading a{
  color: darkblue;
  text-decoration: underline;
}

#name{
  width: 220px;
  height: 40px;
}

#comment{
  width: 300px;
  height: 100px;
  margin: 10px;
}

.para1 {
  width: 550px;
  position: relative;
  top: 250px;
  right: 40px;
  float: right;
}

.para {
  width: 750px;
  position: relative;
  top: 300px;
  right: 40px;
  float: right;
}

table td{
  text-align: center;
  border: 1px solid black;
}